<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>申请详情</title>
    <link type="text/css" rel="stylesheet" href="./weui_f.css" />

    <script src="<%=path%>/static/test/js/jquery-3.2.1.min.js"></script>


</head>

<body ontouchstart style="background-color: #f5f3f3;">
    <span aria-hidden="true" id="js_a11y_comma" class="weui-hidden_abs"></span>

    <div class="page__bd">
        <div class="weui-cells__title">信息学院 191491307 冯程</div>

        <div class="weui-cells">
            <!--目的地-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left:0px ;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">目的地</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(0px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <p>沈阳市内</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--申请出校日期-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left: 0px;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">申请出校日期</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(-7px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <li id="date" style="transform: translateX(-15px);"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--申请返校日期-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left: 0px;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">申请返校日期</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(-7px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <li id="date2" style="transform: translateX(-15px);"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--外出原由-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left: 0px;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">外出原由</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(-7px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="探亲" rows="1" style="transform: translateX(7px);  "></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--实际出校时间-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left: 0px;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">实际出校时间</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(-7px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd" style="height: 20px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--实际返校时间-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left: 0px;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">实际返校时间</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(-7px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd" style="height: 20px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--出校审批情况-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left:0px ;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">出校审批情况</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(0px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <p>已同意</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells">
            <!--行程轨迹-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left:0px ;">
                    <p style="font-size: 15px ;color: rgba(255, 0, 0, 0.986);">行程轨迹</p>
                </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请如实详细填写您的行程轨迹(500字内)，并妥善留存相关证明材料，填写后方可生成入校通行证" rows="5"></textarea>
                    <div class="weui-cell__ft">
                        <a role="button" class="weui-btn weui-btn_default" style="margin-right: -16px;width: 120px;font-size: 15px;">提交行程</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="weui-cells">
            <!--返校审批情况-->
            <div role="option" class="weui-cell ">
                <div class="weui-cell__bd" style="padding-left:0px ;">
                    <p style="font-size: 15px ;color: rgba(0, 0, 0,0.5);">返校审批情况</p>
                </div>
            </div>
            <div class="weui-cell  weui-cell_swiped">
                <div role="option" class="weui-cell__bd" style="transform: translateX(0px);">
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <p>已同意</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-bottom-fixed-opr">
            <!--底部按钮-->
            <a href="javascript:;" role="button" class="weui-btn weui-btn_primary">生成出校通行证</a>
            <a href="javascript:;" role="button" class="weui-btn weui-btn_primary">生成返校通行证</a>
            <a href="javascript:;" role="button" class="weui-btn weui-btn_primary">返回申请列表</a>
        </div>

        <div class="page__bd page__bd_spacing">
            <div class="weui-footer">
                <p class="weui-footer__text">版权所有 &copy; 辽宁大学</p>
            </div>
        </div>


</body>
<script type="text/javascript">
    window.onload = function() {
        setInterval(function() {
            var date = new Date();
            var sign1 = "/";
            var sign2 = ":";
            var year = date.getFullYear() // 年
            var month = date.getMonth() + 1; // 月
            var day = date.getDate(); // 日
            var hour = date.getHours(); // 时
            var minutes = date.getMinutes(); // 分
            var seconds = date.getSeconds() //秒
            var weekArr = ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
            var week = weekArr[date.getDay()];
            // 给一位数数据前面加 “0”
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (day >= 0 && day <= 9) {
                day = "0" + day;
            }
            /*if (hour >= 0 && hour <= 9) {
                hour = "0" + hour;
            }
            if (minutes >= 0 && minutes <= 9) {
                minutes = "0" + minutes;
            }
            if (seconds >= 0 && seconds <= 9) {
                seconds = "0" + seconds;
            }*/
            //获取id=Date的标签，加入内容。	 
            var d = document.getElementById('date');
            d.innerHTML = year + sign1 + month + sign1 + day;
            var c = document.getElementById('date2');
            c.innerHTML = year + sign1 + month + sign1 + day;
        }, 1000)
    };
    /* d.innerHTML='当前时间:'+ year + sign1 + month + sign1 + day + " " + hour + sign2 + minutes + sign2 + seconds;},1000)};不带星期的*/
</script>

</html>